footer {
    width: 90%;
    max-width: 1420px;
    margin: 0 auto;
    margin-top: 10%;
  
    hr {
      border: none;
      margin: 5px 0;
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 3px;
    }

    p{
        color: white;
    }

    
  }

  